# -----------------
# 文档和目标目录
# -----------------
HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

# -----------------
# Maven Wrapper
# -----------------
!.mvn/wrapper/maven-wrapper.jar

# -----------------
# IDE 配置
# -----------------
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# -----------------
# 配置文件和敏感信息
# -----------------
*.yml
*.yaml
*.env
static/application.yaml
